<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<h1>TESTE</h1>
<!--<div class="login-container">-->
<!--    <h2>Login</h2>-->
<!--    <form th:action="@{http:localhost:8080/auth/login}" method="post">-->
<!--        <div class="input-group">-->
<!--            <label for="login">Usuário</label>-->
<!--            <input type="text" id="login" name="login" required>-->
<!--        </div>-->
<!--        <div class="input-group">-->
<!--            <label for="password">Senha</label>-->
<!--            <input type="password" id="password" name="password" required>-->
<!--        </div>-->
<!--        <button type="submit">Entrar</button>-->
<!--    </form>-->
<!--</div>-->
<!--<script src="/scripts/script.js"></script>-->
</body>
</html>
